# zależności
/node_modules
/.pnp
.pnp.*
.yarn/*

# testy
/coverage

# Next.js
/.next/
/out/
/build
next-env.d.ts

# TypeScript
*.tsbuildinfo

# logi / debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# różne
.DS_Store
*.pem

# ⚠️ zmienne środowiskowe — NIGDY nie commituj kluczy API!
.env
.env.local
.env*.local

# Vercel
.vercel
